{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}

{% block content %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Тестовое задание</h1>
        <p class="lead text-muted">Видео загружаются, выводятся на главную, доступны по api.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for post in posts %}
                    {% include "includes/post_item.html" with post=post %}
          {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}

